In [1]:
# imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.linear_model import LinearRegression, LassoLars, TweedieRegressor
from sklearn.feature_selection import SelectKBest, RFE, f_regression, SequentialFeatureSelector
from sklearn.preprocessing import MinMaxScaler, StandardScaler, RobustScaler, PolynomialFeatures
# local
import wrangle as w

In [2]:
df = w.get_zillow()
df

,parcelid,id,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,...,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock,id,logerror,transactiondate
0,17173851,787,NaN,NaN,NaN,2.0,4.0,NaN,NaN,2.0,...,64712.0,2016.0,17519.0,781.00,None,NaN,6.111004e+13,389.0,0.088469,2017-01-03
1,10821119,1702,NaN,NaN,NaN,2.0,2.0,NaN,6.0,2.0,...,381638.0,2016.0,274127.0,4692.27,None,NaN,6.037131e+13,402.0,0.025629,2017-01-03
2,11007640,2412,1.0,NaN,NaN,2.0,3.0,NaN,8.0,2.0,...,305307.0,2016.0,160505.0,3887.80,None,NaN,6.037106e+13,2699.0,0.020360,2017-01-12
3,11457850,3770,NaN,NaN,NaN,2.0,3.0,NaN,6.0,2.0,...,93146.0,2016.0,54446.0,1246.18,None,NaN,6.037276e+13,2229.0,0.054233,2017-01-11
4,12591550,8197,NaN,NaN,NaN,2.0,3.0,NaN,6.0,2.0,...,482242.0,2016.0,385591.0,6098.62,None,NaN,6.037544e+13,3038.0,-0.016170,2017-01-13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2152980,13915341,2982148,NaN,NaN,NaN,3.0,4.0,NaN,NaN,3.0,...,450941.0,2016.0,196326.0,5314.32,None,NaN,6.059087e+13,NaN,NaN,None
2152981,14360869,2982193,NaN,NaN,NaN,3.5,4.0,NaN,NaN,3.5,...,1409388.0,2016.0,849510.0,18909.38,None,NaN,6.059063e+13,71174.0,0.086432,2017-08-29
2152982,13952473,2982226,NaN,NaN,NaN,4.0,5.0,NaN,NaN,4.0,...,723838.0,2016.0,328384.0,8691.16,None,NaN,6.059089e+13,NaN,NaN,None
2152983,14367624,2982275,NaN,NaN,NaN,2.5,3.0,NaN,NaN,2.5,...,424353.0,2016.0,129441.0,5302.70,None,NaN,NaN,NaN,NaN,None
2152984,12385768,2982282,1.0,NaN,NaN,4.0,4.0,NaN,8.0,4.0,...,554009.0,2016.0,217461.0,6761.20,Y,15.0,NaN,NaN,NaN,None